@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
body {
  background: #ffffff;
  margin: 0;
  font-family: 'Poppins';
}

.container {
  margin: 0em 14em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

h2 {
  text-align: center;
  color: #354F82;
}

.navbar {
  position: fixed;
  background: #C8D1E3;
  padding: 1em 0em;
  height: 3em;
  width: 100%;
  text-align: center;
  top: 0px;
  z-index: 100000;
}

.navbar .logo {
  float: left;
  text-decoration: none;
  font-weight: 700;
  color: #6569CB;
  font-size: 1.2em;
}

.navbar nav {
  float: right;
  background: #C8D1E3;
}

.navbar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display: inline-block;
}

.navbar li {
  list-style-type: none;
  padding: 0.8em;
  display: inline;
  font-weight: 500;
}

.navbar a {
  margin: 0.3em;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 8em 0em;
}

.hero {
  text-align: center;
  margin-top: -1em;
  color: #2C2B3F;
}

.hero .invoicing-text {
  color: #345698;
}

.hero .pie-text {
  color: #FFB965;
  padding-top: 50px;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  font-size: 1.1em;
}

.left-col {
  float: left;
  padding-top: 4em;
}

.hero-img {
  width: 500px;
  height: 500px;
  margin-left: 50px;
  z-index: -5;
}

.features-section {
  background: #C8D1E3;
}

.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: .2em;
  gap: 50px;
}

.left-col .subhead {
  color: #565577;
  font-size: 1.1em;
  padding-bottom: 1em;
}

.left-col .sign-up-cta {
  padding: 0.5em 1.2em;
}

.features-section {
  background: #F4F8FB;
  color: #61607F;
}

.features-section img {
  width: 12em;
  height: 12em;
  border-radius: 50%;
}

.features-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.features-section .container h3 {
  text-align: center;
  color: #6569CB;
}

.features-section .container p {
  text-align: left;
}

.features-section .feature {
  width: 300px;
}

.info {
  margin-bottom: 2em;
}

.info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.info .info-images {
  position: relative;
  top: 0;
  left: 0;
  margin-left: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info .invoice1 {
  position: relative;
  top: 0;
  left: 0;
  width: 200px;
  -webkit-box-shadow: 8px 8px 5px #ccc;
          box-shadow: 8px 8px 5px #ccc;
}

.info .invoice2 {
  position: absolute;
  top: 10em;
  left: -5em;
  width: 150px;
  -webkit-box-shadow: 8px 8px 5px #ccc;
          box-shadow: 8px 8px 5px #ccc;
}

.info .info-text {
  text-align: left;
  color: #807F99;
  margin-top: 2em;
  margin-left: 5em;
  margin-right: 5em;
}

.info .info-text h2 {
  color: #807F99;
}

.pricing {
  background: #F4F8FB;
  color: #61607F;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pricing .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.pricing .get-started-cta {
  background: #6569CB;
  color: white;
  text-decoration: none;
  padding: 0.5em 0.8em;
  border-radius: 10px;
  display: inline-block;
  font-weight: 500;
}

.footer-section {
  background: #354F82;
  padding: 2em 0em;
}

.footer-section .container {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #9AA7C0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer-section .container h3 {
  color: white;
}

.footer-section .container div {
  padding: 0em 4em;
}

.footer-section .container li {
  padding-bottom: 0.8em;
}
@media only screen and (max-width: 1200px) {
  .info .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info .info-images {
    margin-bottom: 130px;
  }
  .footer-section {
    padding: 0px;
  }
  .pricing-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
  }
  .footer-section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer-section .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-weight: 500;
  margin-right: 10px;
}

@media only screen and (max-width: 1000px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0em 8em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-img {
    width: 500px;
    height: 500px;
    margin-left: 0px;
  }
  .info-text {
    width: 300px;
  }
}

.topnav {
  overflow: hidden;
  background-color: #C8D1E3;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100000;
}

@media screen and (min-width: 1200px) {
  .topnav {
    padding: 1em 0em;
    height: 3em;
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .topnav {
    padding: 1em 0em;
    height: 3em;
    width: 100%;
  }
}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

.black {
  color: #354F82;
}

.sign-in-cta {
  background: #6569CB;
  color: white;
  text-decoration: none;
  padding: 0.5em 0.8em;
  border-radius: 10px;
  display: inline-block;
  font-weight: 500;
}

.sign-in-cta:hover {
  background: #FFB965;
  color: black;
}

.sign-up-cta {
  background: #6569CB;
  color: white;
  text-decoration: none;
  padding: 0.5em 0.8em;
  border-radius: 10px;
  display: inline-block;
  font-weight: 500;
}

.sign-up-cta:hover {
  background: #FFB965;
  color: black;
}

.logo {
  padding-top: 0.2em;
  color: #6569CB;
  font-weight: 600;
  margin-left: 230px;
  margin-right: 300px;
  font-size: 30px;
}

@media screen and (min-width: 1700px) {
  .logo {
    margin-left: 230px;
    margin-right: 500px;
  }
}

@media screen and (max-width: 1200px) {
  .logo {
    margin-left: 230px;
    margin-right: 100px;
  }
}

@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .logo {
    margin: 0px;
  }
}

@media screen and (max-width: 1000px) {
  .topnav.responsive {
    position: fixed;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    top: 0;
    float: none;
    display: block;
    text-align: left;
  }
}
/*# sourceMappingURL=main.css.map */